<a href="https://colab.research.google.com/github/tsikuzro/Machine_Learning/blob/main/Python_for_ML_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Type of a variable

a = 3.4
b = {}
c = []
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'dict'>
<class 'list'>

**1. INPUT()**

In [ ]:
#Write a program that asks my age and return the number of months and
#the months remains to turn 30 years old or months past to 30 years old 

myage =  int(input('Please enter your ages right here: '))
nbr_of_Months = myage*12
print('My ages are: ', myage, 'Years Old')
print(myage, 'years contains ', nbr_of_Months, 'Months')
ages_to_turn = int(input('Please enter the ages to turn to count month for: '))
months_to_ages = (ages_to_turn - myage)*12
print('The months to ', ages_to_turn,' are:', months_to_ages,' Months')

Please enter your ages right here: 34
My ages are:  34 Years Old
34 years contains  408 Months
Please enter the ages to turn to count month for: 30
The months to  30  are: -48  Months

**2.COMPARISON OPERATORS**

In [ ]:
#Comparison operators
'''==(equality)'''
print(2==3)
print(3==3)
print('-----------------')
'''!=(not equal)'''
print(2!=3)
print(3!=3)
print('-----------------')
'''<(Less than)'''
print(2<3)
print(3<3)
print('-----------------')
'''<=(Less than or equal)'''
print(23<=3)
print(3<=3)
print('-----------------')
'''>=(Greater than)'''
print(2>3)
print(3>3)
print('-----------------')
'''>=(Greater than or equal)'''
print(2>=3)
print(3>=3)
print('-----------------')

False
True
-----------------
True
False
-----------------
True
False
-----------------
False
True
-----------------
False
False
-----------------
False
True
-----------------

In [ ]:
a, b, c = 12, 45, 10

print(a!=c)
print(b<=c)

True
False

**3. IF CONDITION**

In [ ]:
#Syntax
'''
if condition1:
     1st_statement1
elif condition2:
     2nd_statement2
     .
     .
     .
 else:
     nth_statement'''

In [ ]:
#Print your name if you are older than 20 years old
age = int(input('Enter your age please: '))
if age > 20:
  your_name = str(input('What is your name?'))
  print(your_name,' You are older than 20 years old now!')
elif age == 20:
    gender = str(input('Girl or Boy?'))
    print('You are about to enter in another phase of life ',gender,'!')
else:
    print('You are a teenagers!')

Enter your age please: 23
What is your name?Jacob
Jacob  You are older than 20 years old!

In [ ]:
#Inline if condition
fav = str(input('Choose d for Drake, or any other letter for Wiz Khalifa: '))
print('Your Favorite Rapper is Drake' if fav=='d' else 'Your Favorite Rapper is Wiz Khalifa')

Choose d for Drake, or any other letter for Wiz Khalifa: d
Your Favorite Rapper is Drake

**4. FOR LOOP**

In [ ]:
#Syntax
#1. 
'''
for [item] in [sequence]:
	  Run code
'''
#item: tracks the individual item each iteration is viewing.
#in: separates the item from the sequence.
#sequence: refers to the object over which you want to iterate.
#The code that is within our for loop will run until every item in our sequence has been read by our program.

#2. using range() or len()
'''
for [item] in range or len(nbr_of_times_to_run_loop):
	print(item)
'''
#You can use range() or len() to specify how many times a loop should iterate. 
#with len() lets us create a list with a length equal to the number of values in an object.
#with range() loop iterate up to n_th_times (n times)

#3. Nested loop
'''
for [outer_item] in [outer_sequence]:
	for [inner_item] in [inner_sequence]:
		// Run code
'''

In [ ]:
domestic_animals = ['dog', 'cats', 'chicken', 'pig', 'cow']
print('Some of the domestic animals are:  \n')
for i in domestic_animals:
  print(i)

Some of the domestic animals are:

dog
cats
chicken
pig
cow

In [ ]:
#If you want to know the index with their elements
for i, j in enumerate (domestic_animals):
  print(i, j)

0 dog
1 cats
2 chicken
3 pig
4 cow

In [ ]:
for i in domestic_animals:
      n.append(i)
print(n)

[0, 'dog', 1, 'cats', 2, 'chicken', 3, 'pig', 4, 'cow', 0, 'dog', 1, 'cats', 2, 'chicken', 3, 'pig', 4, 'cow', 0, 'dog', 1, 'cats', 2, 'chicken', 3, 'pig', 4, 'cow', 'dog', 'cats', 'chicken', 'pig', 'cow', 'dog', 'cats', 'chicken', 'pig', 'cow']

In [ ]:
nameage = {'Paul':37, 'Jean':27, 'Polo':(67, 68, 69)}
for i in nameage:
  print(i, nameage[i])

Paul 37
Jean 27
Polo (67, 68, 69)

In [ ]:
nameage = {'Paul':37, 'Jean':27, 'Polo':(67, 68, 69)}
for i, j in nameage.items():
    print(i, j)

Paul 37
Jean 27
Polo (67, 68, 69)

In [ ]:
#Print a sequence of numbers
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# range(a,b,c) pick i starting from a to b in steps of c
for i in range(2,20,4):
  print(i)

2
6
10
14
18

In [ ]:
for i in range(5):
  for j in range(i+1):
    print("* ",end="")
  print("\r")      # ending line after each row

*
* *
* * *
* * * *
* * * * *

In [ ]:
k = 10
for i in range(5):
  for j in range(k):
    print(end=" ")
  k = k - 2
  for j in range(i+1):
    print("* ", end="")
  print("\r")

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
k = 4
for i in range(5):
  for j in range(k):
    print(end=" ")
  k = k - 1
  for j in range(i+1):
    print("* ", end="")
  print("\r")

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#Multiplication table:
number = int(input ("Enter the number of which the user wants to print the multiplication table: "))
# We are using "for loop" to iterate the multiplication 10 times.
print ("The Multiplication Table of: ", number)
for i in range(1, 11):
  print (number, 'x', i, '=', number * i)

Enter the number of which the user wants to print the multiplication table: 29
The Multiplication Table of:  29
29 x 1 = 29
29 x 2 = 58
29 x 3 = 87
29 x 4 = 116
29 x 5 = 145
29 x 6 = 174
29 x 7 = 203
29 x 8 = 232
29 x 9 = 261
29 x 10 = 290

**5. WHILE LOOP**

In [ ]:
#Syntax:
'''
while condition
    statement1
'''

In [ ]:
k = 6
while k<10:
  print(k)
  k +=1

6
7
8
9

**6. ADDITIONAL**

In [ ]:
#You can access a string declared as a list

spell = 'PETER DRURY'
print(spell[0])
print(spell[0:5])

P
PETER

In [ ]:
for i in spell:
  print(i)

P
E
T
E
R

D
R
U
R
Y

In [ ]:
for i, j in enumerate(spell):
  print(i, j)

0 P
1 E
2 T
3 E
4 R
5
6 D
7 R
8 U
9 R
10 Y