<a href="https://colab.research.google.com/github/tsikuzro/Machine_Learning/blob/main/Python_for_ML_Session_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. FOR LOOP: "continue"**

In [2]:
#Calculate the sum of square of the number from 5 to 100
s = 0
for i in range(5,101):
  s += i**2
print('The sum of the squares from 5 to 100 is: ',s)

The sum of the squares from 5 to 100 is:  338320

In [4]:
'''Calculate the sum of square of the number from 5 to 100
   and don't include the number that are divisible by 7'''
s = 0
for i in range(5,101):
  if i%7 != 0:
    s += i**2
  else:
      s = s
print('The sum of the squares from 5 to 100 is: ',s)

The sum of the squares from 5 to 100 is:  288585

In [7]:
'''Calculate the sum of square of the number from 5 to 100
   and don't include the number that are divisible by 7'''
s = 0
for i in range(5,101):
  if i%7 == 0: continue
  s += i**2
print('The sum of the squares from 5 to 100 is: ',s)

The sum of the squares from 5 to 100 is:  288585

**2. WHILE LOOP: "break" statement**

In [11]:
i = 1
while True:           #run continuously
  if i%7 == 0: break
  print(i)
  i +=1

1
2
3
4
5
6

**3. TRY & EXCEPT**

In [ ]:
#Syntax:
'''
try:
  statement_1
except:
  statement_2  ## do this statament_2 if statement_1 provides an error
'''

In [12]:
try:
  s1 = 13/0
except:
  print('Undentified')

Undentified

In [14]:
#Avoid an error for the key not available in the dictionary
Level_at_EAIFR = {'1': 'Masters', '2': 'PHD', '3': 'Post Doctorate'}
try:
  print(Level_at_EAIFR[5])
except:
  print('Sorry, there is no such key!')

Sorry, there is no such key!

**4. FUNCTIONS & MODULES**

In [ ]:
#Syntax:
'''
def name_of_function(variables_to_use)
    statement
    return (some_value)       ## Help to end the function
'''

In [21]:
#A function that can make any multiplication table:

def Multiplication_table(x, n): #With x is number to make mult. table for and n is the number up to.
    print('The multiplication table for ', x, ' up to ',n,'is: ')
    for i in range(n):
      p = x * i
      print(x,' x ',i,' = ',p)

Multiplication_table(3, 20)

The multiplication table for  3  up to  20 is:
3  x  0  =  0
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30
3  x  11  =  33
3  x  12  =  36
3  x  13  =  39
3  x  14  =  42
3  x  15  =  45
3  x  16  =  48
3  x  17  =  51
3  x  18  =  54
3  x  19  =  57

In [22]:
Multiplication_table('I am a string!', 3)

The multiplication table for  I am a string!  up to  3 is:
I am a string!  x  0  =
I am a string!  x  1  =  I am a string!
I am a string!  x  2  =  I am a string!I am a string!

In [51]:
#Print the triangle of stars
def Triangular_shape(n_rows, choice): #Choose "i" for Isoscele triangle, "l" Left-sided Right triangle, "r" Right-sided Right triangle
    if choice == 'i':
      print('The Isoscele star triangular shape for ', n_rows,' rows is: ')
      k = n_rows - 1
      for i in range(n_rows):
        for j in range(k):
          print(end=" ")
        k = k - 1
        for j in range(i+1):
          print("* ", end="")
        print("\r")         
    elif choice == 'l':
      print('The Left-sided star triangular shape for ', n_rows,' rows is: ')
      k = 2*n_rows-2
      for i in range(n_rows):
        for j in range(k):
          print(end=" ")
        k = k - 2
        for j in range(i+1):
          print("* ", end="")
        print("\r")
    elif choice == 'r':
      print('The Right-sided star triangular shape for ', n_rows,' rows is: ')
      for i in range(n_rows):
        for j in range(i+1):
          print("* ",end="")
        print("\r")
    else:
      print('Your choice for type of triangle is incorrect!')
      print('Please Choose "i" for Isoscele, "l" Left-sided Right triangle, "r" Right-sided Right triangle!')

In [47]:
Triangular_shape(5,'i')

The Isoscele star triangular shape for  5  rows is:
    *
   * *
  * * *
 * * * *
* * * * *

In [48]:
Triangular_shape(5,'r')

The Right-sided star triangular shape for  5  rows is:
*
* *
* * *
* * * *
* * * * *

In [49]:
Triangular_shape(5,'l')

The Left-sided star triangular shape for  5  rows is:
        *
      * *
    * * *
  * * * *
* * * * *

In [52]:
Triangular_shape(5,'s')

Your choice for type of triangle is incorrect!
Please Choose "i" for Isoscele, "l" Left-sided Right triangle, "r" Right-sided Right triangle!

**5. WORKING WITH STRING**

In [58]:
a = 'Hello There'

#Lower case:
b = a.lower()
print(b)
#Upper case
c = a.upper()
print(c)

d = c.casefold()
print(d)

hello there
HELLO THERE
hello there

**6. Global & Local variables**

In [70]:
x = 2.0     #Global variable
def rem(y):
  z = 3     #Local variable
  x = 37    #Local variable
  w = (y*x)%z
  print('this is w:', w)
  return w
print('this is global variable x: ',x)
print(rem(4))

this is global variable x:  2.0
this is w: 1
1

In [68]:
rem(4)

this is w: 1

**6. OPERATE UNKNOWN ARRAY NUMBERS**

In [75]:
#Program that can add number of array

def addnumbers(*num):
  sum = num[0]
  for i in num:
    sum += i
  print(sum)
addnumbers(1,2,3,4,5,6)
array1 = [2,3,4.5,11,2,4,5]
addnumbers(array1[0:4])

22
[2, 3, 4.5, 11, 2, 3, 4.5, 11]

In [81]:
#Work with dictionary as variable in function
def groupage(**age):
  for i, j in age.items():
    print(i, j)
groupage(Paul = 34, Aline = 22)

Paul 34
Aline 22