<a href="https://colab.research.google.com/github/tsikuzro/Machine_Learning/blob/main/Python_for_ML_Session_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

START OF MLESMD

In [2]:
#comment
"""This is a comment too"""

'This is a comment too'

In [3]:
#assigning value to variable

Strings = '29'
Characters = "kiki, kamana","kamanzi"
floats = 20.33
integer = 12

print(Strings,'\n', floats, '\n', integer, '\n', Characters)

29
 20.33
 12
 ('kiki, kamana', 'kamanzi')

In [4]:
#Assigning values to variables
x=12
y=13
x=y
print(x-y-12)

-12

In [6]:
#Operators
z=100
y=16
'''+'''
p=z+y
'''-'''
s=z-y
'''*'''
m=z*y
'''/'''
d=z/y
'''//'''
r=z//y
'''%'''
rem=z%y
print("Addition:",p,'\n',"Substraction:",s,'\n',
      "Multiplication:",m,'\n',"Division:",d,'\n', 
      "Remaider:",rem,'\n',"Round down:",r,'\n')

Addition: 116
 Substraction: 84
 Multiplication: 1600
 Division: 6.25
 Remaider: 4
 Round down: 6

In [14]:
#Assigning operators
w=22
x +=1
y-=2
z*=3
w /=4
print("Addition Assigned:",'\t',x,'\n',"Substraction assigned:",y,'\n',
      "Multiplication assigned:",z,'\n',"Division assigned:",w)

Addition Assigned: 	 37
 Substraction assigned: 4
 Multiplication assigned: 72900
 Division assigned: 5.5

In [15]:
#Concantenate string

N = 'My name is'
O = 'Tsikuzro'
print(N+' ',O)

My name is  Tsikuzro

In [19]:
#Convert and Add number quoted to be sting together
'''using int()'''
myage = '32'
myagein2027 = int(myage) + (2027-2022)
print(myagein2027)

37

In [26]:
#Convert and Add number quoted to be sting together
'''using float()'''
salesthisyear = '3200.50'
salesincreaseperyear= '200.872'
salesin2025 = float(salesperyear) + float(salesincreaseperyear)*(2025-2022)
print(salesin2025)

3803.116

```
Writting the greek letter
SYNTHAX: $\name of greek letter or formula$
```

$\alpha$ $\beta$ $\gamma$ $\ E=mc^2$ $\zeta$ $\eta$ $\nu$ $\mu$

**ARRAY REPRESENTATION**
---
**1. LIST**

In [30]:
#Assign value to List
'''Sythax: name_of_list = [elements]'''
classscores = [12, 23, 13, 11, 49]
emptylist = []
print(classscores)
print('This is empty list:', emptylist)

[12, 23, 13, 11, 49]
This is empty list: []

In [33]:
#access single entry in a list using place value
'''Synthax
   name_of_list[place_value]
   , where place value count starting from  0'''
print('The fourth score is: ', classscores[3])
print('Last score is: ', classscores[-1]) #This print element from the last [-1]

The fourth score is:  11
Last score is:  49

In [31]:
#Perform operation on list elements
Diff = classscores[2] - classscores[0]
Add = classscores[2] + classscores[0]

print('Difference btn random 2 classscores:', Diff)
print('Addition btn random 2 classscores:', Add)

Difference btn random 2 classscores: 1
Addition btn random 2 classscores: 25

In [37]:
#Change the value of single element
classscores[1]= 34
print('Modified classscores are:', classscores)

Modified classscores are: [12, 34, 13, 11, 49]

In [38]:
#Pick some elements in the list
top = [classscores[-1], classscores[1]]
print('Top 2 students are:', top)

Top 2 students are: [49, 34]

In [41]:
#Pick some range of elements in the list
'''Synthax: name_of_list[a:b]
    where it display the list from a to b excluding b'th element
    or name_of_list[a:b:stepsize]'''

F1t3 = classscores[1:4] #This one print a range of list elements excluding the last
F1t3st2 = classscores[1:5:2]
print('Top 2 students are:', F1t3)
print('Top 2 students are:', F1t3st2)

Top 2 students are: [34, 13, 11]
Top 2 students are: [34, 11]

In [48]:
#You can include elements which are not the same data type
randomlist = [1, 1.23, 'Hello', 'There', 21, 'a', 'b', [1,2,3,4]]
print(randomlist[1:7:2])
print(randomlist[5:8])

[1.23, 'There', 'a']
['a', 'b', [1, 2, 3, 4]]

In [52]:
#Append some elements in the list
randomlist.append([22,11,44])
print('Apended elements are 22,11 and 44:',randomlist)

Apended elements are 22,11 and 44: [1, 1.23, 'Hello', 'There', 21, 'a', 'b', [1, 2, 3, 4], [22, 11, 44], [22, 11, 44]]

In [55]:
#Delete any element in a list
del randomlist[0]
print(randomlist)

['There', 21, 'a', 'b', [1, 2, 3, 4], [22, 11, 44], [22, 11, 44]]

**2. TUPLE**

In [56]:
#Introduce tuples
'''Synthax: name_of_tuple = (elements)'''
week = ('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')
print(week)

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday')

In [60]:
#Pick any radom elements
a = week[3]
b = week[1:3]
c = week[1:6:2]
print(a,'\n',b,'\n',c)

Thursday
 ('Tuesday', 'Wednesday')
 ('Tuesday', 'Thursday', 'Saturday')

 **3. DICTIONARY**

In [62]:
#Introduce Dictionary
'''Synthax: name_of_dictionary = {"Key_name": value, ...}'''
districtinrwanda = {'Kigali City': 5, 'North': 5, 'South': 8, 'East': 7, 'West': 7}
print(districtinrwanda)

{'Kigali City': 5, 'North': 5, 'South': 8, 'East': 7, 'West': 7}

In [64]:
#Pick some elements
print(districtinrwanda['South'])

8

In [65]:
#Key does not need to be sting

example = {1: 'Name', 2: 'Surname', 3: 'Job', 4: 'Nationality'}
print(example[2])

Surname

In [67]:
#Delete any element in Dictionary
del example[2]
example[2] = 'Age'
print(example)

{1: 'Name', 3: 'Job', 4: 'Nationality', 2: 'Age'}